modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 24678
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["npx", "tsx", "server.ts"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[userenv]

[userenv.shared]
DB_NAME = "ouroboros_db"
DB_HOST = "34.185.177.59"
DB_USER = "postgres"
DB_PORT = "5432"
DB_PASSWORD = "2N00py123-"
GEMINI_API_KEY = "AIzaSyDCtc8dUWoqThSiJmmrVq1Qxp-_izEV0wg"
ADMIN_JWT_SECRET = "OUROBOROS_OSCC_JWT_wu6qwrgl61mm580qn0"
PAYPAL_CLIENT_ID = "AdRPh8dl31_T4HS689c6AQdN2g9EVmG-P3cs9IshgfIZ8FmRerulybV-0nmU6zhEkxMwvpiwIXoORskK"
PAYPAL_SECRET_KEY = "EAYXAQD0HPjIVA_GPL4axZ2Kinf-39njdMoSVcYyCepql3FFwT0OE0BR3vaEwQgyWXiz4kqL_AIOn5h-"
PAYPAL_MODE = "live"
